body {
margin: 0;
background: black;
overflow: hidden;
}

#luffy {
width: 48px;
height: 48px;

```
position: absolute;
top: 100px;
left: 100px;

background-image: url('luffy.png');
background-repeat: no-repeat;

image-rendering: pixelated;
```

}
